$font-primary: "Spectral", serif;
$font-secondary: "Roboto", serif;

$font-weight-regular: 400;
$font-weight-bold: 700;

$color-1:#C1A15A;
$color-2: #5A5A5A;
$color-3: #F1E0C6;

$color-overlay: rgba(0, 0, 0, 0.5);